@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    }


    /* ++++++++++++  media@  +++++++++++++++++++++++++++++++++++++++++++ */


    @media( max-width: 56rem){
        .header{
        object-fit: contain;
        }
    }

    @media( max-width: 769px ){

        .seccionMain2 .miniCards{
            display: flex;
            width: 200px;
            height: 400px;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            color: rgb(15, 15, 15); 
        }

        .navbar li a{
            color: white;
        text-decoration: none;
        font-size: 16px;
        font-family: "Ubuntu", sans-serif;
        }




        

















    }


/* ++++++++++++++++++++++ html y header +++++++++++++++++++++++++++++++++ */


    html{
        font-family: "Ubuntu", sans-serif;
        color: white;
    }

    .header{
        display: flex;
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
        /* background-color: #202E4A; */
        background-color: rgb(31, 31, 31);
        width:100%;
        height: 100px;
        padding: 0px 0px;
        /* top: 0; */
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        /* border: solid; */
        flex-wrap: wrap;
        
    }

    .header img:hover{
        /* filter: drop-shadow(2px 2px 2px black); */
        /* aqui vamos a jugar con el png en el responsive */
    }

    .navbar{
        /* font-size: 20px; */
        font-weight: bold;
        display: flex;
        color: white;
        gap: 30px;
        /* border: solid; */
        justify-content: center;

    }

    .navbar li a:hover{

        color: rgb(197, 143, 50);
        /* text-decoration: underline; */
        filter: drop-shadow(0px 0px 30px rgb(228, 197, 62));
    }

    ul{
        list-style: none; 
        /* border: solid;   */
        /* padding: 20px 20px; */
        align-items: center;

    }

    ul li a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-family: "Ubuntu", sans-serif;
        
    }
/* ++++++++++++++++++++++ main 1+++++++++++++++++++++++++++++++++ */

    
    .seccionMain1{
        display: flex;
        width: 100%;
        height:900px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;
        background-image: url("../assets/img/neom-Iy59i0M7oP4-unsplash.jpg");
        align-items: center;
        flex-direction: column;
        /* gap: 20px; */
        justify-content: flex-end;
        padding: 20px;
        gap: 300px;
        text-align: center;
    }

    .seccionMain1 button{
        font-size: x-large;
        color: aliceblue;
        width: 360px;
        height: 60px;
        padding: 5.997px;
        background-color: transparent;
        border: 2px solid white;
        margin: 30px;
        border-radius: 0px;
        align-self: center;
        font-family: "Ubuntu", sans-serif;

    }

    .seccionMain1 button:active{
        /* box-shadow: 5px 5px 20px rgb(37, 37, 37); */
        background-color: rgba(37, 181, 145, 0.438);
    }

    .seccionMain1 button:hover{
        background-color:  rgba(37, 181, 145, 0.438);
    }

    .seccionMain1 h1{
        font-size: 40px;
        text-align: center;
        color: white;
        font-weight: bold;
    }

/* ++++++++++++++++++++++ main 2+++++++++++++++++++++++++++++++++ */

    .seccionMain2{
        display: flex;
        background-color: rgb(243, 239, 239);
        padding: 40px;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        /* border: solid;
        border-color: gray; */
        gap: 20px;
    }

    .miniCards{
        display: flex;
        width: 300px;
        height: 400px;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        color: rgb(15, 15, 15);
        /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.436); */
        /* border: solid; */
    }

    .miniCards button{
        display: flex;
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background-color: rgb(72, 91, 201);
        color: white;
        font-size: medium;
        border: transparent;
        }

        .miniCards p{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        }

        .miniCards h2{
        text-align: center;
        font-weight: bold;
        }


/* ++++++++++++++++++++++ main 3+++++++++++++++++++++++++++++++++ */


        .seccionMain3{
            display: flex;
            width: 100%;
            height: 900px;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: nowrap;
            padding: 40px;
            gap: 1.25rem;
            background-color: rgb(219, 218, 218);
            scroll-behavior: auto;
            /* border: solid rgb(67, 66, 66); */
        }



        .cardCostaRica{
        display: flex;
        width: 500px;
        height: 800px;
        /* padding: 451px 40px 52px 40px; */
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-image: url("../assets/img/costarica.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.777);
        border-radius: 4px; */

        

    }

    .cardCostaRica div{
        display: flex;
        width: 340px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        align-self: flex-start;
        gap: 1.25rem;
        padding: 20px;
    }

    .cardCostaRica button{
        display: flex;
        width: 220px;
        height: 50px;
        padding: 5.997px;
        justify-content: center;
        align-items: center;
        gap: 5.997px;
        background-color: rgb(17, 143, 17);
        border: solid white 1px;
        color:white ;
    }

    .seccionMain3 :hover{
        box-shadow: 0px 0px 30px rgba(26, 26, 26, 0.777);
        border-radius: 4px;
    }
    .seccionMain3 div:hover{
        box-shadow: none;
        border-radius: none;
    }

    .seccionMain3 div h2:hover{
        box-shadow: none;
        border-radius: none;
    }

    .seccionMain3 div h3:hover{
        box-shadow: none;
        border-radius: none;
    }

    .seccionMain3 div p:hover{
        box-shadow: none;
        border-radius: none;
    }

    .seccionMain3 div button:hover{
        box-shadow: none;
        border-radius: none;
    }


    .cardJapon{
        display: flex;
        width: 500px;
        height: 800px;
        /* padding: 451px 40px 52px 40px; */
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        color: white;
        background-image: url("../assets/img/japon.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.777); */

        
    }

    .cardJapon div{
        display: flex;
        width: 340px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        align-self: flex-start;
        gap: 1.25rem;
        padding: 20px;
    }

    .cardJapon button{
        display: flex;
        width: 220px;
        height: 50px;
        padding: 5.997px;
        justify-content: center;
        align-items: center;
        gap: 5.997px;
        background-color: rgb(17, 143, 17);
        border: solid white 1px;
        color:white ;
    }

    .cardBali{
        display: flex;
        width: 500px;
        height: 800px;
        /* padding: 451px 40px 52px 40px; */
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        color: white;
        background-image: url("../assets/img/bali.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.777); */
        
    }
    
    .cardBali div{
        display: flex;
        width: 340px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        align-self: flex-start;
        gap: 1.25rem;
        padding: 20px;
    }

    .cardBali button{
        display: flex;
        width: 220px;
        height: 50px;
        padding: 5.997px;
        justify-content: center;
        align-items: center;
        gap: 5.997px;
        background-color: rgb(17, 143, 17);
        border: solid white 1px;
        color:white ;
    }


/* ++++++++++++++++++++++ main 4 +++++++++++++++++++++++++++++++++ */


    .seccionMain4{

        display: flex;
        background-repeat: no-repeat;
        padding: 40px 40px;
        align-items: center;
        width: 100%;
        height: 876px;
        background-image: url("../assets/img/himalaya.jpg");
        background-size: cover;
        background-position: center;
    }

    .divHimalaya{
        display: flex;
        width: 400px;
        height: 300px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        align-self: flex-end;
        gap: 1.25rem;
        padding: 10px;
    }

    .divHimalaya button{

        display: flex;
        width: 220px;
        height: 50px;
        padding: 5.997px;
        justify-content: center;
        align-items: center;
        gap: 5.997px;
        background-color: rgb(17, 143, 17);
        border: solid white 1px;
        color:white ;
    }


    /* ++++++++++++++++++++++ main 5 +++++++++++++++++++++++++++++++++ */


    .seccionMain5{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 700px;
        padding: 40px;
        background-color: rgb(219, 218, 218);
    }

    .seccionMain5 h2{
        color: black;
        font-weight: bold;
        font-size: 32px;
    }


    .seccionMain5 .divMap{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
    }


    .seccionMain5 .divMap input{
        width: 300px;
        height: 40px;
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 16px;
        text-align: start;
        padding: 8px;

    }

    .seccionMain5 .divMap .map{
        width: 740px;
        height: 400px;
        border-radius: 20px;
    }

/* ++++++++++++++   ofertas 1 +++++++++++++++++++++++++++++++++++++++++ */


    .secOfertas1{
        display: flex;
        width: 100%;
        height:600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;
        background-image: url("../assets/img/sippakorn-yamkasikorn-PhDmJpUEqmU-unsplash.jpg");
        align-items: center;
        /* gap: 20px; */
        justify-content: center;
        padding: 20px;
        gap: 300px;
        text-align: center;
    }

    .secOfertas1 h1{
        font-size: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }



/* ++++++++++++++   ofertas 2  +++++++++++++++++++++++++++++++++++++++++ */
    .secOfertas2{
        display: flex;
        width: 100%;
        height: 900px;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        padding: 40px;
        gap: 1.25rem;
        background-color: rgb(224, 224, 224);
    }


/* +++++++++++++++++++ acerca de nosotros 1++++++++++++++++++++++++++++ */


    .secAcercade1{

        display: flex;
        width: 100%;
        height:600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;
        background-image: url(../assets/img/sippakorn-yamkasikorn-PhDmJpUEqmU-unsplash.jpg);
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
    }

    .secAcercade1 h1{

        font-size: 48px;
        align-self: flex-end;
    }

/* +++++++++++++++++++ acerca de nosotros 2++++++++++++++++++++++++++++ */


    .secAcercade2{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgb(240, 237, 237);
        flex-direction: column;
        align-items: center;
        color: black;
        padding: 120px;
    }


    .secAcercade2 div{
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: center;
        align-content: center;
        gap: 5rem;
        flex-wrap: wrap;
    }
    
    .secAcercade2 h2{

    color: black;
    font-size: 40px;
    }

    .secAcercade2 p{
        font-size: 20px;
        font-weight: 500;
    }



/* ++++++++++++++++++++++ destinos 1+++++++++++++++++++++++++ */



    .seccionDestinos1{

        display: flex;
        width: 100%;
        height: 600px;
        background-image: url(../assets/img/halongbay.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 120px; */
    }

    .seccionDestinos1 h1{
        font-size: 48px;
        align-self: flex-end;
        align-self: center;
    }

/* ++++++++++++++++++++++ destinos 2+++++++++++++++++++++++++ */

    .seccionDestinos2{

        display: flex;
        width: 100%;
        height: 900px;
        background-color: rgb(240, 237, 237);
        padding: 60px;
        justify-content: space-evenly;
        gap: 1.25rem;
    }

    .cardMexico{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 580px;
    }

    .botonCard{
        padding: 10px;
        width: 200px;
        color: white;
        background-color: rgb(26, 122, 26);
        border: none;
    }

    .cardMexico h2{
        font-weight: bold;
    }
    
    .cardMexico div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        color: black;
        gap: 20px;
        padding-top: 10px;
        /* padding: 20px; */
        /* border: solid 1px; */
    }








